<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfx.mall.marketing.persistence.dao.GroupLogMapper">
    <resultMap id="BaseResultMap" type="com.lfx.mall.marketing.persistence.entity.GroupLog">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="act_spu_id" jdbcType="INTEGER" property="actSpuId" />
        <result column="group_id" jdbcType="VARCHAR" property="groupId" />
        <result column="leader_id" jdbcType="INTEGER" property="leaderId" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
        <result column="last_member_id" jdbcType="INTEGER" property="lastMemberId" />
        <result column="is_delete" jdbcType="BIT" property="isDelete" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, act_spu_id, group_id, leader_id, start_time, finish_time, last_member_id, is_delete, 
        create_time, update_time
    </sql>
</mapper>