<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfx.mall.marketing.persistence.dao.TaskRedoLogMapper">
    <resultMap id="BaseResultMap" type="com.lfx.mall.marketing.persistence.entity.TaskRedoLog">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="task_type" jdbcType="SMALLINT" property="taskType" />
        <result column="logic_table_name" jdbcType="VARCHAR" property="logicTableName" />
        <result column="db_index" jdbcType="SMALLINT" property="dbIndex" />
        <result column="table_index" jdbcType="SMALLINT" property="tableIndex" />
        <result column="page_index" jdbcType="INTEGER" property="pageIndex" />
        <result column="page_size" jdbcType="SMALLINT" property="pageSize" />
        <result column="start_time" jdbcType="BIGINT" property="startTime" />
        <result column="end_time" jdbcType="BIGINT" property="endTime" />
        <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, task_type, logic_table_name, db_index, table_index, page_index, page_size, start_time, 
        end_time, delete_flag, create_time, update_time
    </sql>
</mapper>